* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:'Poppins';
}

body {
    background: rgb(94, 75, 190);
}
.container {
    margin-top:50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background: rgb(229, 227, 244);
    width: 260px;
    height: 500px;
    margin: 10px;
    border-radius: 15px;


}

.card-image {
    height: 260px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}

.card-1 {
    background-image: url(../images/classroom.png)
}

.card-2 {
    background-image: url(../images/updateClub.png)
}
.card-3 {
    background-image: url(../images/events.png)
}
.card-4 {
    background-image: url(../images/announcement.png)
}
.card-5 {
    background-image: url(../images/feedback.png)
}
.card-6 {
    background-image: url(../images/addDisc.png)
}
.card-7 {
    background-image: url(../images/delete.png)
}
.card-8 {
    background-image: url(../images/discussion.png)
}
.card-9 {
    background-image: url(../images/pending.png)
}
.card-10 {
    background-image: url(../images/report.png)
}
.card h2 {
    padding: 10px;
    font-size: 19px;
    text-align: center;
    color: darkslategrey;
}

.card p {
    padding: 20px;
    text-align: center;
    font-size: 14px;
    color: darkslategrey;
}

.card a{
    background-color: rgb(126, 110, 203);
    color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
}
.card a:hover{
    transition: all 1s ease;
    border: 1px solid grey;
    border-radius: 5px;
    font-size:large;
}
.card:hover {
    background-color: white;
    color: black;
    transform: scale(1.05);
    transition: all 1s ease;
    border: 1px solid grey;
    border-radius: 8px;
}